BOT_TOKEN=8388520904:AAGGUt53u02JONOMXjP5tKGXhqr1I56z94Y
CLASH_ROYALE_API_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiIsImtpZCI6IjI4YTMxOGY3LTAwMDAtYTFlYi03ZmExLTJjNzQzM2M2Y2NhNSJ9.eyJpc3MiOiJzdXBlcmNlbGwiLCJhdWQiOiJzdXBlcmNlbGw6Z2FtZWFwaSIsImp0aSI6IjdlMGZkOTlkLWFkMmUtNDZmOC05MThhLTRiNDc1OWNmZmQxOCIsImlhdCI6MTc3MDM3NTQyNywic3ViIjoiZGV2ZWxvcGVyL2Q0NTUxM2Y3LTVmMTQtYzAzZC0yYTAxLTBmODEyMjhiYmJkZiIsInNjb3BlcyI6WyJyb3lhbGUiXSwibGltaXRzIjpbeyJ0aWVyIjoiZGV2ZWxvcGVyL3NpbHZlciIsInR5cGUiOiJ0aHJvdHRsaW5nIn0seyJjaWRycyI6WyIxNzguMTguNS4xOTMiXSwidHlwZSI6ImNsaWVudCJ9XX0.d2swxxaI_-VpJ2XzR1Dohtdf1CzHyKOcIJEhez_QEagPU97cVFMygiiB6AEUQM5kdgKl9q4WUjovgnBvBakL_Q
MINI_APP_URL=https://vezzint.github.io/clash-royale-tournament-bot/
DATABASE_PATH=tournament.db
